$cortexto1: #fff;
$cortexto2: #e0e0e0;
$corfundo1: #282828;
$hovercor: #ffe83d;

* {
  box-sizing: border-box;
}
body {
  background: $corfundo1 !important;
}
#backfoto {
  background-image: url(../img/work-731198_1920.jpg);
  width: 100%;
  height: 300px;
  z-index: -1;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
#containerprincipal {
  height: 300px;
}
.container {
  margin-bottom: 130px;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  #backfoto {
    height: 200px;
  }
  #containerprincipal {
    height: 200px;
  }
  .container {
    margin-bottom: 30px;
  }
}
h1,
h2,
h3,
p,
a,
h4 {
  font-family: "ZCOOL XiaoWei", serif !important;
}
h2 {
  color: $cortexto1 !important;
  text-align: center;
}
p {
  color: $cortexto2;
  font-size: 1.2em;
}
h3 {
  color: $cortexto1 !important;
  text-align: left;
}
nav ul li a {
  color: $cortexto1;
}

nav {
  margin-top: 0px auto;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.navbar-brand {
  margin-top: -10px;
}
.container h2 {
  margin-top: 10px;
}

.conteudo-principal {
  padding: 5%;
  flex: 1 1 80%;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
.portfolio-item {
  color: $cortexto1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
}
/* layout principal*/
.medio {
  grid-row: span 4;
  grid-column: span 4;
}
.retanverti {
  grid-row: span 6;
  grid-column: span 2;
}
.quadrado {
  grid-row: span 6;
  grid-column: span 2;
}
.retanhori {
  grid-row: span 4;
  grid-column: span 3;
}
.grande {
  grid-row: span 6;
  grid-column: span 3;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
/* organização das fotos */
.portfolio-item:hover {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
}

.efeito:hover::before {
  opacity: 0.2;
}
.efeito {
  background-repeat: no-repeat;
  background-position: center;
}
.um {
  background-image: url(../img/9d41a758059699.59ee4999bda0f.jpg);
}
.um:hover {
  background-image: url(../img/pp.jpg);
}
.dois {
  background-image: url(../img/pulapula.png);
}
.dois:hover {
  background-image: url(../img/pulapula2.png);
}

.quatro {
  background-image: url(../img/sorteio.png);
}
.quatro:hover {
  background-image: url(../img/timemodelo2.png);
}

.cinco {
  background-image: url(../img/outubrorosa.png);
}
.cinco:hover {
  background-image: url(../img/poste.png);
}
.seis {
  background-image: url(../img/dog2.png);
}
.seis:hover {
  background-image: url(../img/warcatinsta.png);
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-social-icon {
  color: #282828 !important;
  margin: 5px;
  background-color: #cfcfcf !important;
}
.btn-social-icon:hover {
  background-color: #444444 !important;
}

@media screen and (max-width: 600px) {
  .portfolio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .medio {
    grid-row: span 1;
    grid-column: span 1;
  }
  .retanverti {
    grid-row: span 1;
    grid-column: span 1;
  }
  .quadrado {
    grid-row: span 1;
    grid-column: span 1;
  }
  .retanhori {
    grid-row: span 1;
    grid-column: span 1;
  }
  .grande {
    grid-row: span 1;
    grid-column: span 1;
  }
}
