body {
  background: #282828 !important;
}
#containerprincipal {
  height: 300px;
}

.container {
  margin-bottom: 130px;
  padding: 10px;
}

h1,
h2,
h3,
p,
a,
h4 {
  font-family: "ZCOOL XiaoWei", serif !important;
}

h2 {
  color: #fff !important;
  text-align: center;
}

p {
  color: #e0e0e0;
  font-size: 1.2em;
}

h3 {
  color: #fff !important;
  text-align: left;
}

nav ul li a {
  color: #fff;
}

nav {
  margin-top: 0px auto;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.navbar-brand {
  margin-top: -10px;
}

.container h2 {
  margin-top: 10px;
}

#container-principal p {
  font-size: 1.5em;
  margin-top: 30px;
}

.fotoperfil {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
}
.fotoperfil:hover {
  filter: grayscale(25%);
  transition: filter 0.6s ease-in-out 0.2s;
}

#container-principal {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.footer {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 728px) {
  #container-principal .row {
    display: block;
  }
  #container-principal .row .col-sm-4 {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  #container-principal .row .col-sm-8 {
    margin: auto;
    width: 100%;
  }
  #container-principal .row .col-sm-8 p {
    text-align: center;
  }
}
